<h1 class="display-4">Welcome To Articlebase</h1>
<p class="mb-4">This is Sails.js for managing articles</p>
<a href="/articles/list"><button class="btn btn-light">View Articles</button></a>
<a href="/articles/add"><button class="btn btn-light">Add Article</button></a>